<%- include("../../views/partials/admin/header")%>

  <main class="main-wrap ms-3">
    <div class="container">
      <div class="d-flex justify-content-between">
        <h2>Category Management</h2>
        <!-- <form action="/admin/category/deletedCategories">
      <button class="btn btn-primary">Deleted Users</a></button>
    </form> -->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategoryModal">Add New
          Category</button>
      </div>

      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(category=> { %>
            <tr>
              <td>
                <%= category.categoryName %>
              </td>
              <td>
                <%= category.description %>
              </td>
              <td>
                <%= category.isDeleted ? 'Deleted' : 'Active' %>
              </td>
              <td>
                <button class="btn btn-warning" data-bs-toggle="modal"
                  data-bs-target="#editCategoryModal-<%= category._id %>">Edit</button>
                <button class="btn btn-danger" onclick="return softDelete('<%= category._id %>')">Delete</button>
              </td>
            </tr>

            <!-- Edit Category Modal -->
            <div class="modal fade" id="editCategoryModal-<%= category._id %>" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form  id="editCategoryForm" onsubmit="return EditCategory(event,'<%= category._id %>')">
                    <div class="modal-header">
                      <h5 class="modal-title">Edit Category</h5>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label>Category Name</label>
                        <input type="text" id="editCategory" name="categoryName" value="<%= category.categoryName %>"
                          class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label>Description</label>
                        <textarea id="editDescription" name="description" class="form-control"
                          required><%= category.description %></textarea>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <% }) %>
        </tbody>
      </table>
    </div>

    <!-- Add Category Modal -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/admin/category/add" method="post" id="addForm" onclick=" return AddCategory()">
            <div class="modal-header">
              <h5 class="modal-title">Add New Category</h5>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Category Name</label>
                <input type="text" name="categoryName" id="categoryname" class="form-control" required>

              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea name="description" class="form-control" id="description" required></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Add Category</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <script>


    function EditCategory(event, userId) {
      event.preventDefault();
      console.log("inside ajax")
      const CategoryName = document.getElementById('editCategory').value.trim()
      const Description = document.getElementById('editDescription').value.trim()
      if (!CategoryName || !Description) {
        Swal.fire({
          icon: "error",
          title: 'Empty Spaces',
          text: 'Please fill all fields',
        })
        return false
      }
      
      $.ajax({
        type: "POST",
        url: `/admin/category/edit/${userId}`,
        data: {
          categoryName: CategoryName,
          description: Description,
        },
        success: function (response) {
          if (response.success) {
            Swal.fire({
              icon: "success",
              title: 'Category Updated',
              text: 'Category Updated Successfully',
            }).then(() => {
              window.location.href = '/admin/category'
            })
          } else {
            Swal.fire({
              icon: "error",
              title: 'Error',
              text: 'Category Name already exist',
            })
          }
        },
        error: function () {
          Swal.fire({
            icon: "error",
            title: 'OOps',
            text: 'Category already exist',
          })
        }
      })
      return false
    }

    // document.getElementById('editCategoryForm').addEventListener('submit',EditCategory);




    function AddCategory(event) {
      event.preventDefault()
      const categoryName = document.getElementById('categoryname').value.trim()
      const description = document.getElementById('description').value.trim()
      console.log("cat", categoryName, "des", description)
      console.log("inside");
      if (!categoryName || !description) {
        Swal.fire({
          icon: 'error',
          title: "Empty spaces",
          text: "Empty values are not allowed",
          timer: 2000,
        })
        return false
      }
      axios.post("/admin/category/add", { categoryName, description })
        .then((response) => {
          if (response.data.success) {
            Swal.fire({
              icon: "success",
              title: "Category Added Successfully",
              text: "added",
              timer: 1500,
            }).then(() => {
              window.location.href = '/admin/category'
            })
          } else {
            Swal.fire({
              icon: "error",
              title: "Error occured",
              text: response.data.message
            })
          }
        })

        .catch((error) => {
          if (error.response && error.response.data) {
            console.log(error?.response?.success || "erroror")
            Swal.fire({
              icon: "error",
              title: "oops",
              text: error.response.data.message
            })
          }
        })
      // $.ajax({
      //   type:"POST",
      //   url:"/admin/category/add",
      //   data:{
      //     categoryName:categoryName,
      //     description:description,
      //   },
      //   success: function(response){
      //     console.log(response)
      //     if(response.success){
      //       Swal.fire({
      //         icon:"success",
      //         title:"Category Added Successfully",
      //         text:"added",
      //         timer:1500,
      //       }).then(() => {
      //         window.location.href = '/admin/category'
      //       })
      //     }else{
      //       Swal.fire({
      //         icon:"error",
      //         title:"Error",
      //         text:response.messege,
      //       })
      //     }
      //   },
      //   error:function (){
      //     Swal.fire({
      //       icon:"error",
      //       title:"oops",
      //       text:"Something went wrong!"
      //     })
      //   }
      // })
      return false
    }


    document.getElementById('addForm').addEventListener('submit', AddCategory)




    function softDelete(userId) {
      const confirmed = confirm("are you sure you  want to delete this category?");
      if (confirmed) {
        $.ajax({
          type: "DELETE",
          url: `/admin/category/delete/${userId}`,
          success: function (response) {
            alert("category Deleted"),
              location.reload()
          },
          error: function (error) {
            alert("error deleting Category")
            location.reload()
          }
        })
      } else {
        alert("Category not deleted")
      }
    }
  </script>
  <%- include("../../views/partials/admin/footer")%>