<%-include ("../../views/partials/admin/header") %>
<main class="main-wrap ms-5">
  <div class="container">
      <h1 class="page-title">User Management</h1>
      <div class="table-container">
          <table class="user-table">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <% users.forEach(user => { %>
                  <tr>
                      <td><%= user.username %></td>
                      <td><%= user.email %></td>
                      <td><%= user.isBlocked ? 'Blocked' : 'Active' %></td> 
                      <td>
                        <% if (user.isBlocked) { %>
                          <button onclick="unblockUser('<%= user._id %>')" class="btn block-unblock-btn">Unblock</button>
                        <% } else { %>
                          <button onclick="blockUser('<%= user._id %>')" class="btn block-unblock-btn">Block</button>
                        <% } %>                        
                      </td>
                  </tr>
                  <% }) %>
              </tbody>
          </table>
      </div>
  </div>
</main>
<script>
  function blockUser(userId){
    $.ajax({
      url:`/admin/user/block/${userId}`,
      type:"PATCH",
      success:function (response){
        alert("user blocked")
        location.reload()
      },
      error:function(error){
        alert("cant block user")
      }
    })
    }

    function unblockUser(userId){
      $.ajax({
        url:`/admin/user/unblock/${userId}`,
        type:"PATCH",
        success: function(response){
          alert("user Unblocked succesfully")
          location.reload();
        },
        error: function(error){
          alert("cant unblock user")
        }
      })
    }
</script>
<%-include ("../../views/partials/admin/footer") %>