<%-include('../../views/partials/user/header') %>
<div id="page_item_area">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-left">
        <h3>Shop Details</h3>
      </div>		

      <div class="col-sm-6 text-right">
        <ul class="p_items">
          <li><a href="#">home</a></li>
          <li><a href="#">category</a></li>
          <li><span>Cart</span></li>
        </ul>					
      </div>	
    </div>
  </div>
</div>

<!-- Cart Page -->
<div class="cart_page_area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="cart_table_area table-responsive">
          <table class="table cart_prdct_table text-center">
            <thead>
              <tr>
                <th class="cpt_no">No.</th>
                <th class="cpt_img">image</th>
                <th class="cpt_pn">product name</th>
                <th class="cpt_p">Size</th>
                <th class="cpt_q">quantity</th>
                <th class="cpt_p">price</th>
                <th class="cpt_t">total</th>
                <th class="cpt_r">remove</th>
              </tr>
            </thead>
            <tbody>

              <% if(cartItems.length > 0) { %> 
                <% cartItems.forEach((item,index) => { %>   
              <tr>
                <td><span class="cp_no"><%= index + 1 %></span></td>
                <td><a href="#" class="cp_img"><img src="/uploads/re-image/<%= item.product.productImage[0] %>" alt="" /></a></td>
                <td><a href="#" class="cp_title"><%= item.product.ProductName%></a></td>
                <td><a href="#" class="cp_title"><%= item.size%></a></td>
                <td>										
                  <div class="cp_quntty">																			
                    <input name="quantity" class="quantity-input" value="<%= item.quantity%>" size="2" type="number" min="1" max="5" data-cart-id="<%= item._id%>" data-product-id="<%= item.product._id%>" data-size="<%= item.size%>">	
                    <% if (item.quantity > item.product.sizes.find(s => s.size === item.size).stock) { %>
                      <p style="color:red;">Out of Stock</p>
                    <% } %>											
                  </div>
                </td>
                <td><p class="cp_price"><%= item.product.salePrice %></p></td>
                <td><p class="cpp_total"><%= item.total %></p></td>
                <td><a class="btn btn-default cp_remove" onclick="removeItem('<%= item._id %>')"><i class="fa fa-trash"></i></a></td>
              </tr>
              <% }) %>
              <% }else { %>
              <tr>
                <td colspan="8">Your Cart is Empty</td>
              </tr>
              <% } %>
              <!-- <tr>
                <td><span class="cp_no">2</span></td>
                <td><a href="#" class="cp_img"><img src="img/cart-prdct/2.jpg" alt="" /></a></td>
                <td><a href="#" class="cp_title">This is Product Title</a></td>
                <td>
                  <div class="cp_quntty">																			
                    <input name="quantity" value="1" size="2" type="number">													
                  </div>
                </td>
                <td><p class="cp_price">$104.99</p></td>
                <td><p class="cpp_total">$104.99</p></td>
                <td><a class="btn btn-default cp_remove"><i class="fa fa-trash"></i></a></td>
              </tr>
              
              <tr>
                <td><span class="cp_no">3</span></td>
                <td><a href="#" class="cp_img"><img src="img/cart-prdct/3.jpg" alt="" /></a></td>
                <td><a href="#" class="cp_title">This is Product Title</a></td>
                <td>
                  <div class="cp_quntty">																			
                    <input name="quantity" value="1" size="2" type="number">													
                  </div>
                </td>
                <td><p class="cp_price">$104.99</p></td>
                <td><p class="cpp_total">$104.99</p></td>
                <td><a class="btn btn-default cp_remove"><i class="fa fa-trash"></i></a></td>
              </tr>
              
              <tr>
                <td><span class="cp_no">4</span></td>
                <td><a href="#" class="cp_img"><img src="img/cart-prdct/4.jpg" alt="" /></a></td>
                <td><a href="#" class="cp_title">This is Product Title</a></td>
                <td>
                  <div class="cp_quntty">																			
                    <input name="quantity" value="1" size="2" type="number">													
                  </div>
                </td>
                <td><p class="cp_price">$104.99</p></td>
                <td><p class="cpp_total">$104.99</p></td>
                <td><a class="btn btn-default cp_remove"><i class="fa fa-trash"></i></a></td>
              </tr>
               -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-8 col-xs-12 cart-actions cart-button-cuppon">
        <div class="row">
          <div class="col-sm-7">
            <div class="cart-action">
              <a href="/shop" class="btn border-btn">continiue shopping</a>
              <!-- <a href="#" class="btn border-btn">update shopping bag</a> -->
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="col-md-4 col-xs-12 cart-checkout-process text-right">
        <div class="wrap">
          <!-- <p><span>Subtotal</span><span>$200.00</span></p> -->
          <h4><span>Grand total:</span><span>Rs: <%= GrandTotal %></span></h4>
          <!-- <h4><span>all total:</span><span>Rs: <%= MFtotal %></span></h4> -->
          <!-- <a href="/checkout" class="btn border-btn">process to checkout</a> -->
          <% let outOfStock = cartItems.some(item => item.quantity > item.product.sizes.find(s => s.size === item.size).stock); %>
          <a href="/checkout" class="btn border-btn" <%= (outOfStock || cartItems.length<1)? 'disabled' : '' %>>Process to Checkout</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
<script>
  
  document.querySelectorAll('.quantity-input').forEach(input => {
    input.addEventListener('change',function(){
      const newQuantity = parseInt(this.value,10);
      const cartId = this.dataset.cartId
      const productId = this.dataset.productId
      const size = this.dataset.size
      if (newQuantity <= 0 || isNaN(newQuantity)) {
        Swal.fire({
          icon:'error',
          title:'Invalid quantity',
          text:'Please enter a valid quantity',
          timer:1500,
          showConfirmButton:false
        })
      return;
    }
    console.log(newQuantity,cartId,productId,size)
    fetch(`/cart/update-quantity`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ cartId, productId, size, newQuantity }),
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        location.reload(); // Reload to update totals and other values
      } else {
        Swal.fire({
          icon: 'error',
          title: 'Oops!',
          text: data.message,
          timer:1500,
          showConfirmButton:false
        })
        .then(() => {
          location.reload();
        })
      }
    })
    .catch(err => {
      console.error('Error:', err);
      alert('Error updating quantity');
    })
    })
  })

  function removeItem(cartItemId){
    Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    // Perform fetch request to delete the cart item
    fetch(`/cart/delete/${cartItemId}`, {
      method: 'DELETE',
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          Swal.fire({
            title: 'Deleted!',
            text: data.message,
            icon: 'success',
            timer: 2000,
            showConfirmButton: false, 
          }).then(() => {
            location.reload(); 
          });
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text:data.message,
            timer: 2000,
            showConfirmButton: false,
          });
        }
      })
      .catch((err) => {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'An error occurred while deleting the item.',
          timer: 2000,
          showConfirmButton: false,
        });
      });
  }
});

  }



  document.querySelector('.cart-checkout-process .border-btn').addEventListener('click', function (e) {
  if (this.hasAttribute('disabled')) {
    e.preventDefault();
    Swal.fire({
      icon: 'error',
      title: 'Cannot procceed further',
      text: 'Please look the Quantity in the cart',
      showConfirmButton: true,
      timer:1500
    });
  }
});

</script>
<%-include('../../views/partials/user/footer') %>