
		<!--  End Header  -->
		
		

		<!-- Page item Area -->

<%-include('../../views/partials/user/header')%>		
		<div id="page_item_area">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 text-left">
						<h3>Shop</h3>
					</div>		

					<div class="col-sm-6 text-right">
						<ul class="p_items">
							<li><a href="/home">home</a></li>
							<!-- <li><a href="/category">category</a></li> -->
							<li><span>Shop</span></li>
						</ul>					
					</div>	

				</div>
			</div>
		</div>
		
		
		<!-- Shop Product Area -->
		<div class="shop_page_area">
			<div class="container">
				<div class="shop_bar_tp fix">
					<div class="row">
						<!-- <div class="col-sm-6 col-xs-12 short_by_area">
							<div class="short_by_inner">
								<label>sort by:</label>
								<select class="sort-select">
									<option>Name Descending</option>
									<option>Date Descending</option>
									<option>Price Descending</option>
								</select>
							</div>
						</div> -->

						<div class="col-sm-6 col-xs-12 short_by_area">
							<div class="short_by_inner">
								<label>Sort by:</label>
								<form id="sortForm" method="GET" action="/shop">
									<select class="sort-select" name="sort" onchange="document.getElementById('sortForm').submit()">
										<option value="">Select Sorting</option>
										<option value="priceLowHigh" <% if (sort === 'priceLowHigh') { %> selected <% } %> >Price: Low to High</option>
										<option value="priceHighLow" <% if (sort === 'priceHighLow') { %> selected <% } %> >Price: High to Low</option>
										<option value="newArrivals" <% if (sort === 'newArrivals') { %> selected <% } %> >New Arrivals</option>
										<option value="az" <% if (sort === 'az') { %> selected <% } %> >Product Name: A - Z</option>
										<option value="za" <% if (sort === 'za') { %> selected <% } %> >Product Name: Z - A</option>
									</select>
								</form>
							</div>
						</div>

						<div class="col-sm-6 col-xs-12 show_area">
							<div class="show_inner">
								<!-- <label>show:</label>
								<select class="show-select">
									<option>8</option>
									<option>12</option>
									<option>30</option>
									<option>ALL</option>
								</select> -->
							</div>
						</div>
					</div>
				</div>	
					
				<div class="shop_details text-center">
					<div class="row">	
						
						<% products.forEach(product => { %>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="product-grid">
								<div class="product-image">
									<a href="/products/details/<%=product._id%>">
										<img class="pic-1" src="/uploads/re-image/<%=product.productImage[0]%>"  alt="Product Image">
										<img class="pic-2" src="/uploads/re-image/<%=product.productImage[1]%>"  alt="Product Image">
									</a>
									<ul class="social">
										<li><a href="#" data-tip="Quick View"><i class="ti-zoom-in"></i></a></li>
										<li><a href="#" data-tip="Add to Wishlist"><i class="ti-bag"></i></a></li>
										<li><a href="#" data-tip="Add to Cart"><i class="ti-shopping-cart"></i></a></li>
									</ul>
									<% if(product.isOnSale){ %>
									<span class="product-new-label">Sale</span>
									<% } %>
								</div>
								<ul class="rating">
									<li class="fa fa-star"></li>
									<li class="fa fa-star"></li>
									<li class="fa fa-star"></li>
									<li class="fa fa-star"></li>
									<li class="fa fa-star"></li>
								</ul>
								<div class="product-content">
									<h3 class="title"><a href="#"><%= product.ProductName %></a></h3>
									<div class="price">Rs<%= product.salePrice %>
										<% if (product.regularPrice) { %>
												<span>Rs<%= product.regularPrice %></span>
										<% } %>
								</div>
									<a class="add-to-cart" href="#">+ Add To Cart</a>
								</div>
							</div>
						</div><!-- End Col -->	
						
						<% }) %>

											
													
					</div>
				</div> 
					
				<!-- Blog Pagination -->
				<!-- <div class="col-xs-12">
					<div class="blog_pagination pgntn_mrgntp fix">
						<div class="pagination text-center">
							<ul>
								<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#" class="active">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div> -->

				<div class="col-xs-12">
					<div class="blog_pagination pgntn_mrgntp fix">
						<div class="pagination text-center">
							<ul>
								<% if (currentPage > 1) { %>
									<li><a href="?page=<%= currentPage - 1 %>&sort=<%= sort %>"><i class="fa fa-angle-left"></i></a></li>
								<% } %>
				
								<% for (let i = 1; i <= totalPages; i++) { %>
									<li><a href="?page=<%= i %>&sort=<%= sort %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a></li>
								<% } %>
				
								<% if (currentPage < totalPages) { %>
									<li><a href="?page=<%= currentPage + 1 %>&sort=<%= sort %>"><i class="fa fa-angle-right"></i></a></li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>


		<%-include('../../views/partials/user/footer')%>